<%
  @previous = qwerty_lesson_path "shifts"
  @current = request.full_path
  @next = qwerty_lesson_path "230"
%>

<%= render "micro_toolbar", on: "1" %>

<div rel="content">
  <div rel="exercise">
    1-= =;-/ 1z1q1a-z=a/q-1 1queen of=? 1zopa hop-la1 =q= . g1bber1sh -1tem= w=r= -T- d=corat1on x -= 1 =quat1-n /z.x 1=-qwpmb?&crarr;
  </div>

  <ul id="guide">
    <li>Use your left pinkie to type <span class="key">1</span></li>
    <li>Right pinkie <span class="key">-</span></li>
    <li>Right pinkie again <span class="key">=</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="<%= @next %>">&crarr;</a> or <a href="<%= @current %>">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
