<%
  @previous = qwerty_lesson_path "1"
  @next = qwerty_lesson_path "49"
%>

<%= render "micro_toolbar", on: "230" %>

<div rel="content">
  <div rel="exercise">
    230 1230-= 3-1=2 2-1=1 =l33t1= --o01T3M0o-- --o0T=1M0o-- --==oo0 R2D2 3rd 0oo==-- a3c11 2rt 23 R=-0 d0dl332 dr00l21 tron -=&crarr;
  </div>

  <ul id="guide">
    <li>Use your left ring finger to type <span class="key">2</span></li>
    <li>Left ring again <span class="key">3</span></li>
    <li>Right ring <span class="key">0</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
