<%
  @previous = qwerty_lesson_path "230"
  @next = qwerty_lesson_path "5678"
%>

<%= render "micro_toolbar", on: "49" %>

<div rel="content">
  <div rel="exercise">
    49 123490-= 1234-90=1144? .....-910234=249z1a20394 l0ng str1n913f13d l32b09 l0l2 34cat2 l0v3 p34c3 T09 1;ll b3 b4ck9d004 -=&crarr;
  </div>

  <ul id="guide">
    <li>Use your left middle to type <span class="key">4</span></li>
    <li>Right middle <span class="key">9</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
