<%
  @previous = qwerty_lesson_path "49"
  @next = qwerty_lesson_path "brackets"
%>

<%= render "micro_toolbar", on: "5678" %>

<div rel="content">
  <div rel="exercise">
    5678 1c2x3z23we 2x2 1s 4 2x3=6 2x4=8 5x7=35 5-9=-4 23-76=-53 R232 45/5=9 63/7=9 64/8=8 g4MuT gr8T m4T= 71/3=23.66 78x9342=?&crarr;
  </div>

  <ul id="guide">
    <li>Use your left index to type <span class="key">5</span></li>
    <li>Left index again <span class="key">6</span></li>
    <li>Right index <span class="key">7</span></li>
    <li>Right index again <span class="key">8</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
