<%
  lessons = [
    ['asdf', 'asdf'],
    ['jkl', 'jkl;'],
    ['qwer', 'qwer'],
    ['uiop', 'uiop'],
    ['zxcv', 'zxcv'],
    ['m', 'm,./'],
    ['gh', 'gh'],
    ['ty', 'ty'],
    ['bn', 'bn'],
    ['shifts', 'shifts'],
    ['1', '1-='],
    ['230', '230'],
    ['49', '49'],
    ['5678', '5678'],
    ['brackets', 'brackets ()[]{}<>'],
    ['punctuations', 'punctuations ?:\'"!&'],
    ['mathematics', 'mathematics +*$%^'],
    ['programing', 'programing `~_|#'],
    ['emoticons', 'emoticons @_@'],
    ['enter', 'enter ↵'] ]

  offsets = {
    'brackets' => 45,
    'punctuations' => 180,
    'mathematics' => 305,
    'programing' => 420,
    'emoticons' => 470,
    'enter' => 470 }
%>

<%= content_for :javascript do %>
  if (<%= offsets.has_key? on %>) {
    carousel.forward(<%= offsets[on] %>);
  }
<% end %>

<header id="utoolbar">
  <nav>
    <ul>
      <li><%= link_to 'QWERTY', [:qwerty], id: "qwerty" %></li>
      <li><a href="#rewind">&lsaquo;</a></li>
      <li>
        <ul id="table-of-content">
          <% for lesson in lessons %>
            <li><%= link_to lesson[1], qwerty_lesson_path(lesson[0]), class: ("on" if lesson[0] == on) %></li>
          <% end %>
        </ul>
      </li>
      <li><a href="#forward">&rsaquo;</a></li>
    </ul>
  </nav>
</header>
