<%
  @previous = qwerty_path
  @next = qwerty_lesson_path "jkl"
%>

<%= render "micro_toolbar", on: "asdf" %>

<div rel="content">
  <div rel="exercise">
    asdf a s d f a f d s ds df as ad af sa sf sd dd ff ss aa sdfa sdfa dfsa fads sad dafs saf dass fass saas dada&crarr;
  </div>

  <ul id="guide">
    <li>Use your left pinkie to type <span class="key">a</span></li>
    <li>Left ring finger <span class="key">s</span></li>
    <li>Left middle <span class="key">d</span></li>
    <li>Left index <span class="key">f</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/jkl.html">&crarr;</a> or <a href="/qwerty/asdf.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
