<%
  @previous = qwerty_lesson_path "ty"
  @next = qwerty_lesson_path "shifts"
%>

<%= render "micro_toolbar", on: "bn" %>

<div rel="content">
  <div rel="exercise">
    bn n a b boat float no yes guess guest bummer lumber plumber vet neighbour nimble nymph lymph hierarchy larky&crarr;
  </div>

  <ul id="guide">
    <li>Use your left index to type <span class="key">b</span></li>
    <li>Right index finger <span class="key">n</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
