<%
  @previous = qwerty_lesson_path "5678"
  @next = qwerty_lesson_path "punctuations"
%>

<%= render "micro_toolbar", on: "brackets" %>

<div rel="content">
  <div rel="exercise">
    () [] {} &lt;&gt; (bam) [bam] {bam} &lt;bam&gt; (s)he (wo)men (wo)man [sic] [1] &lt;dict&gt; {hoo} {har} [lart] (ent) {ter} &lt;use&gt; ((b33m))[[]&crarr;
  </div>

  <ul id="guide">
    <li>Use your right middle to type <span class="key">(</span></li>
    <li>Right ring <span class="key">)</span></li>
    <li><span class="key">spacebar</span></li>
    <li>Right pinkie <span class="key">[</span></li>
    <li>Right pinkie again <span class="key">]</span></li>
    <li><span class="key">spacebar</span></li>
    <li>Left <span class="key">shift</span> &amp; right pinkie <span class="key">{</span></li>
    <li>Left <span class="key">shift</span> &amp; right pinkie again <span class="key">}</span></li>
    <li><span class="key">spacebar</span></li>
    <li>Left <span class="key">shift</span> &amp; right middle <span class="key">&lt;</span></li>
    <li>Left <span class="key">shift</span> &amp; right ring <span class="key">&gt;</span></li>
    <li><span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
