<%
  @previous = qwerty_lesson_path "programing"
  @next = qwerty_lesson_path "enter"
%>

<%= render "micro_toolbar", on: "emoticons" %>

<div rel="content">
  <div rel="exercise">
    :-) ;( &gt;:O ;-) =3 B^D 8-D =-D =] 8) XP &gt;.&lt; o/\o #-) %) \o/ (&gt;_&lt;) (@_@) ^_^ (-_-)zzz (=_=) \(O_o)/ _(-_-)_ &lt;3&crarr;
  </div>

  <ul id="guide">
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
