<%
  @previous = qwerty_lesson_path "emoticons"
  @next = qwerty_path
%>

<%= render "micro_toolbar", on: "enter" %>

<div rel="content">
  <div rel="exercise">
    Love is patient, love is kind.&crarr;...&crarr;Love does not delight in evil but rejoices with the truth.&crarr;...&crarr;And now these three remain: faith, hope and love.&crarr;
  </div>

  <ul id="guide">
    <li>Have fun!</li>
    <li data-index="30">Right pinkie <span class="key">enter</span></li>
    <li data-index="last">
      Congratulations on mastering touch type a qwerty keyboard!
      <br>
      Practice makes perfect so <a href="/qwerty/enter.html">try again</a> :)</li>
  </ul>
</div>

<%= render 'footer' %>
