<%
  @previous = qwerty_lesson_path "m"
  @next = qwerty_lesson_path "ty"
%>

<%= render "micro_toolbar", on: "gh" %>

<div rel="content">
  <div rel="exercise">
    gh gam, ham cheese sugar laser gazers haze laise maise liaise qualms overwhelming him hip whip skip give revv&crarr;
  </div>

  <ul id="guide">
    <li>Use your left index to type <span class="key">g</span></li>
    <li>Right index finger <span class="key">h</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
