<%
  @previous = root_path
  @next = qwerty_lesson_path "asdf"
%>

<div style="margin-left: 1em">
  <p>
    A qwerty keyboard gets its name from a portion of a row of keys that is literally just
    <span class="key">Q</span>
    <span class="key">W</span>
    <span class="key">E</span>
    <span class="key">R</span>
    <span class="key">T</span>
    <span class="key">Y</span>
  </p>

  <p>
    Now rest your left index finger on <span class="key">F</span>, right index <span class="key">J</span> and other fingers on their respective keys as shown in <a href="#fig-1">figure 1: Rest position</a>.
  </p>

  <figure id="fig-1">
    <img src="/qwerty.png" width="840" height="521">
    <figcaption>
    Figure 1: Rest position
    <br>
    Tips: In case your fingers are lost, <span class="key">F</span> <span class="key">J</span> usually have distinctive markings. Locate those and you know where your fingers are.
    </figcaption>
  </figure>

  <p>
    Now that you know where to rest your fingers, start learning to touch type by pressing <a class="key" href="/qwerty/asdf.html">enter &crarr;</a>
  </p>
</div>
