<%
  @previous = qwerty_lesson_path "asdf"
  @current = request.fullpath
  @next = qwerty_lesson_path "qwer"
%>

<%= render "micro_toolbar", on: "jkl" %>

<div rel="content">
  <div rel="exercise">
    ;lkj j k l ; jk jl j; l; k; ;j ;k;k;l;j;k j l k kk jj ll ;; kaff laff jaff dak jak lak;fak;fall jada kal dall&crarr;
  </div>

  <ul id="guide">
    <li>Use your right pinkie to type <span class="key">;</span></li>
    <li>Right ring finger <span class="key">l</span></li>
    <li>Right middle <span class="key">k</span></li>
    <li>Right index <span class="key">j</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <%= link_to '&crarr;'.html_safe, @next, class: "key" %> or <%= link_to 'try again', @current %></li>
  </ul>
</div>

<%= render 'footer' %>
