<%
  @previous = qwerty_lesson_path "zxcv"
  @next = qwerty_lesson_path "gh"
%>

<%= render "micro_toolbar", on: "m" %>

<div rel="content">
  <div rel="exercise">
    /.,m / . , m m, m. ., /. ,./ .m, ,/m. mare, pair. lair/mop, max. mumz/lump. clumps, came lame paid laid cafes&crarr;
  </div>

  <ul id="guide">
    <li>Use your right pinkie to type <span class="key">/</span></li>
    <li>Right ring finger <span class="key">.</span></li>
    <li>Right middle <span class="key">,</span></li>
    <li>Right index <span class="key">m</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
