<%
  @previous = qwerty_lesson_path "punctuations"
  @next = qwerty_lesson_path "programing"
%>

<%= render "micro_toolbar", on: 'mathematics' %>

<div rel="content">
  <div rel="exercise">
    +*$%^ + * $ % ^ 2+2=2^2! ^^ $1/9% 20*$3 +5% -$234 %%% ^^^ $^+* 325% +110 9*9=81 3*3*3=3^3 4$3 8*8=2+62=8^2 ^6&crarr;
  </div>

  <ul id="guide">
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">+</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right index <span class="key">*</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left middle <span class="key">$</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left index <span class="key">%</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left index <span class="key">^</span></li>
    <li>Now <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
