<%
  @previous = qwerty_lesson_path "mathematics"
  @next = qwerty_lesson_path "emoticons"
%>

<%= render "micro_toolbar", on: "programing" %>

<div rel="content">
  <div rel="exercise">
    `~_|#\ `bash` /n00B/ =~ 'bi|B1' # comment 123_456_789_000 l33t !~\ lEEt if !`left` || `right`; \// # not _*_ ~~&crarr;
  </div>

  <ul id="guide">
    <li>Left pinkie <span class="key">`</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left pinkie <span class="key">~</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">_</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">|</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left ring <span class="key">#</span></li>
    <li>Right pinkie <span class="key">\</span></li>
    <li>Now <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
