<%
  @previous = qwerty_lesson_path "brackets"
  @next = qwerty_lesson_path "mathematics"
%>

<%= render 'micro_toolbar', on: 'punctuations' %>

<div rel="content">
  <div rel="exercise">
    ?:'"!& What? "this?" talk: Now! 'Or' else & what!? "do" No smokin' & drinkin': in!!!! That! is: ? non'sense'!&crarr;
  </div>

  <ul id="guide">
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">?</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">:</span></li>
    <li>Right pinkie <span class="key">'</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right pinkie <span class="key">"</span></li>
    <li>Right <span class="key">shift</span> &nbsp; left pinkie <span class="key">!</span></li>
    <li>Left <span class="key">shift</span> &nbsp; right index <span class="key">&amp;</span></li>
    <li>Now <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
