<%
  @previous = qwerty_lesson_path "jkl"
  @next = qwerty_lesson_path "uiop"
%>

<%= render "micro_toolbar", on: "qwer" %>

<div rel="content">
  <div rel="exercise">
    qwer q w e r qak wak qall waff walk; jaq we wed; week wake lake jake leak leaks jew kewl qadel; jelq jar dare&crarr;
  </div>

  <ul id="guide">
    <li>Use your left pinkie to type <span class="key">q</span></li>
    <li>Left ring finger <span class="key">w</span></li>
    <li>Left middle <span class="key">e</span></li>
    <li>Left index <span class="key">r</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
