<%
  @previous = qwerty_lesson_path "bn"
  @next = qwerty_lesson_path "1"
%>

<%= render "micro_toolbar", on: "shifts" %>

<div rel="content">
  <div rel="exercise">
    QWERT ASDFG ZXCVB YUIOP HJKL: NM&lt;&gt;? ThE&gt;SlY&lt;FoXy JUMPS, AlL oVeR The MeAdOw oBlIvIoUsLy. ThInKiNG SmUGlY lEETi?&crarr;
  </div>

  <ul id="guide">
    <li>
      Use your right pinkie to press &amp; hold <span class="key">shift</span>
      <br>
      Now type using using your left fingers.
      <br>
      Remember to use the correct fingering as learnt in previous lessons.</li>
    <li data-index="18">
      Use your left pinkie to press &amp; hold <span class="key">shift</span>
      <br>
      Now type using using your right fingers.
      <br>
      Remember to use the correct fingering as learnt in previous lessons.</li>
    <li data-index="35">Now press <span class="key">spacebar</span></li>
    <li data-index="36">Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
