<%
  @previous = qwerty_lesson_path "gh"
  @next = qwerty_lesson_path "bn"
%>

<%= render "micro_toolbar", on: "ty" %>

<div rel="content">
  <div rel="exercise">
    ty y t yet yetti time yes yum gum hum tuft curt pert hertz were yippie hippy gumy ficky tricky hicky the tome&crarr;
  </div>

  <ul id="guide">
    <li>Use your left index to type <span class="key">t</span></li>
    <li>Right index finger <span class="key">y</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
