<%
  @previous = qwerty_lesson_path "qwer"
  @next = qwerty_lesson_path "zxcv"
%>

<%= render "micro_toolbar", on: "uiop" %>

<div rel="content">
  <div rel="exercise">
    poiu p o i u pi po pu op ip up poo piu lap lao awe jup jip kill jill kapo wako jako quill quik qualp rasperri&crarr;
  </div>

  <ul id="guide">
    <li>Use your right pinkie to type <span class="key">p</span></li>
    <li>Right ring finger <span class="key">o</span></li>
    <li>Right middle <span class="key">i</span></li>
    <li>Right index <span class="key">u</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
