<%
  @previous = qwerty_lesson_path "uiop"
  @next = qwerty_lesson_path "m"
%>

<%= render "micro_toolbar", on: "zxcv" %>

<div rel="content">
  <div rel="exercise">
    zxcv z x c v zv xc xv cz ex vat rav axe call zoo zal jack walker vault zilc quora quizz exes jazz jaw laquers&crarr;
  </div>

  <ul id="guide">
    <li>Use your left pinkie to type <span class="key">z</span></li>
    <li>Left ring finger <span class="key">x</span></li>
    <li>Left middle <span class="key">c</span></li>
    <li>Left index <span class="key">v</span></li>
    <li>Now press <span class="key">spacebar</span></li>
    <li>Have fun!</li>
    <li data-index="last">Go to next lesson by pressing <a class="key" href="/qwerty/qwer.html">&crarr;</a> or <a href="/qwerty/jkl.html">try again</a></li>
  </ul>
</div>

<%= render 'footer' %>
