<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>I R Typo - combat typo through touch typing mastery</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{stylesheet_path}}">
  <script async src="{{javascript_path}}"></script>
</head>
<body>
  <header role="microbar">
    <nav id="opus">
      <a href="#" class="previous">previous</a>

      <ul>
        {{#opus}}
        <li id="{{name}}">
          <a href="{{url}}">{{name}}</a>
        </li>
        {{/opus}}
      </ul>

      <a href="#" class="next">next</a>
    </nav>
  </header>

  <div role="main">
    {{{main}}}
  </div>
</body>
</html>
