<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>I R Typo - combat typo through touch typing mastery</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{stylesheet_path}}">
  <script async src="{{javascript_path}}"></script>
</head>
<body>
  {{{content}}}
</body>
</html>
