/*
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  color: white;
  background: black; }

a {
  text-decoration: none;
  color: white; }

.key {
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
  padding: 2px; }

#splash {
  a {
    padding: 3px 5px 0 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white; }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  width: 400px; }

#donation {
  display: none; }

#utoolbar {
  & ul {
    margin: 0;
    list-style-type: none; }

  & li {
    display: inline; }

  & a {
    &:hover,
    &.on {
      color: white; }

    padding: 0 3px;
    color: grey;
    text-decoration: none; }

  & .key {
    border: 1px solid grey; }

  &:hover {
    opacity: 1;
    transition: opacity;
    -webkit-transition: opacity; }

  padding: 8px 0;
  opacity: 0.001;
  transition: opacity 5s ease-out 3s;
  -webkit-transition: opacity 5s ease-out 3s; }


#qwerty {
  margin: 0 10px 0 30px; }

#table-of-content {
  a:hover {
    text-decoration: underline; }

  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 700px; }

div[rel=exercise] {
  & span {
    &.on {
      background-color: white;
      color: black; }

    &.match {
      color: green; }

    &.conflict {
      background-color: red;
      color: white; }

    &.space {
      /*
      white-space-collapse: preserve;
      text-space-collapse: preserve;
      */
      white-space: pre-wrap; }

    &.enter::after {
      content: "\A";
      white-space: pre; }

    font-family: monospace; }

  border: 1px solid grey;
  margin: 5px 1em 0 1em;
  padding: 15px;
  font-size: 50px; }

#guide {
  & a {
    text-decoration: none;
    color: white; }

  & li {
    &.on {
      display: list-item;
      width: 500px;
      margin: 0 auto; }

    display: none; }

  padding: 0;
  list-style-type: none; }

footer {
  &:hover {
    opacity: 1;
    transition: opacity;
    -webkit-transition: opacity; }

  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 1em;
  bottom: 0;
  font-size: 0.8em;
  opacity: 0.001;
  transition: opacity 5s ease-out 5s;
  -webkit-transition: opacity 5s ease-out 5s; }
