<!DOCTYPE html>
<html>
<head>
  <title>Touchtypist</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", media: "all" %>

  <link rel="previous" href="<%= @previous %>">
  <link rel="next" href="<%= @next %>">
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "application" %>
  <script><%= yield :javascript %></script>

  <% if ENV.has_key? 'HEROKU_POSTGRESQL_ONYX_URL' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46083412-1', {cookieDomain: 'touchtypist.herokuapp.com', siteSpeedSampleRate: 100});
    ga('send', 'pageview');
  </script>
  <% end %>
</body>
</html>
